.aboutUsSection {
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  word-spacing: 1px;
}

.statement {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: #333;
  line-height: 1.8;
}

.hiddenContent {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.animateFromLeft {
  opacity: 1;
  transform: translateX(0);
}

.animateFromRight {
  opacity: 1;
  transform: translateX(0);
}

.heading {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .hiddenContent {
    transform: translateY(50px);
  }

  .animateFromLeft,
  .animateFromRight {
    opacity: 1;
    transform: translateY(0);
  }
}
