.aboutUsSection {
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  font-family: "Roboto", sans-serif; /* Consistent sharp font */
  text-align: justify;
  word-spacing: 1px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hiddenContent {
  max-width: 80%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif; /* Matches the write-up style */
  font-size: 1.125rem; /* Sharp and legible font size */
  color: #333;
  line-height: 1.8;
}
