.companyOverview {
  padding: 20px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.writeUp {
  text-align: center;
  color: #333;
}

.writeUp h3 {
  font-size: 1.5rem; /* Large font size for heading on mobile */
  color: #1d4ed8;
  margin-bottom: 0.5rem;
}

.writeUp p {
  font-size: 1rem; /* Legible font size for text content */
  color: #000;
}

@media (min-width: 768px) {
  .contentContainer {
    gap: 2rem;
  }

  .item {
    flex-direction: row;
    align-items: center;
  }

  .imageLeft .image {
    order: 1;
    width: 50%;
    height: 100%; /* Set height to match content for equal layout */
    margin-right: 1rem;
  }

  .imageRight .image {
    order: 2;
    width: 50%;
    height: 100%; /* Set height to match content for equal layout */
    margin-left: 1rem;
  }

  .writeUp {
    text-align: left;
    width: 50%;
    font-size: 3rem; /* Increase font size for laptop screens */
  }

  .writeUp h3 {
    font-size: 2rem; /* Larger heading font size for laptop screens */
  }

  .writeUp p {
    font-size: 1.125rem; /* Larger, more legible font size */
  }
}
