.contactSection {
  padding: 20px;
  background-color: lightgray; /* Light gray background */
}

/* Form Styles */
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 4px solid blue; /* Thicker blue border */
  border-radius: 8px;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 4px solid blue; /* Thicker blue border for inputs */
  border-radius: 4px;
  font-size: 1rem;
  color: #4a5568;
  background-color: lightgray;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: blue; /* Darker blue on focus */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .form {
    width: 95%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .form,
  .contactInfo {
    align-items: center;
    text-align: center;
  }
}
