.headerContainer {
  height: 70px; /* Header height */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoImage {
  width: 50px; /* Adjust size as needed */
  height: auto;
}

.logoText {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(8, 8, 216); /* Tiffany Blue */
}

.navLink {
  color: blue;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.navLink:hover {
  color: blue; /* Maintain blue on hover */
  opacity: 0.9; /* Slight opacity on hover */
}

.navLink::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: blue;
  transition: width 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
}

.mobileMenuToggle {
  color: blue;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}
